.EndscreenSummary {
  font-size: larger;
}

.ResultList {
  width: 400px;
  max-width: 95vw;
  margin: 30px auto 0;
}

.ResultBar {
  background: rgb(210, 30, 115);
  color: rgb(255, 216, 163);
  color: rgb(44, 73, 68);
  padding: 5px;
  margin: 5px;
  text-align: left;
  position: relative;
}

.ResultPartyLogo {
  height: 20px;
  position: absolute;
  left: -30px;
}
