
.Search-wrapper {
    margin: 10px;
}

.Search-input {
    background-color: rgb(255, 216, 163);
    border: 0;
    font-size: 14px;
}

.Search-button {
    border: 0;
    background-color: rgb(44, 73, 68);
}

.Search-icon {
    font-size: 14px;
    color: rgb(255, 216, 163);
}