

.Webshop-wrapper {

}

.Webshop-figure {
    max-width: 200px;
    margin: 0 auto;
}

.Webshop-figure img {
    width: 100%;
}

.Webshop-like {
    font-size: 16px;
    border: solid 2px var(--color-accent);
    color: var(--color-accent);
    margin: 10px;
    margin-left: 20px;
    padding: 5px 0;
    width: 70px;
}
.Webshop-dislike {
    font-size: 16px;
    border: solid 2px var(--color-accent);
    color: var(--color-accent);
    margin: 10px;
    margin-right: 20px;
    padding: 5px 0;
    width: 70px;
}