@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

div {
  margin: 0;
  padding: 0;
}

:root {
  --color-dark: rgb(44, 73, 68);
  --color-light: rgb(255, 216, 163);
  --color-accent: rgb(210, 30, 115);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* normal */
  line-height: 1.5em;
  color: var(--color-dark);
  background-color: var(--color-light);
}

h1, h2, h3, h4 {
  font-weight: 700; /* bold */
}

.page-header {
  font-size: 60px;
}

.text-color-alt {
  color: var(--color-accent);
}

.header-logo {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 0px;
}

.header-search {

  position: absolute;
  right: 0;
  top: 0;
}

.grid {
  justify-content: center;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px, repeat(auto-fill, minmax(200px, 1fr) );
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "sidebar main main ."
    "footer footer footer footer";
}

.grid-header {
  grid-area: header;
}

.grid-nav {
  grid-area: nav;
  min-height: 20px;
}

.grid-main {
  grid-area: main;
}

.grid-sidebar {
  grid-area: sidebar;
}

.grid-footer {
  grid-area: footer;
}


.grid header {
  color: white;
  background-color: var(--color-dark);
}

.grid nav {
  background-color: var(--color-accent);
}

.grid main {
  display: flex;
}

.grid main article {
  flex: 1;
}

.grid footer {
  background-color: var(--color-dark);
}