.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-blur {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(10px);
  }
}



.grid {
  justify-content: center;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "sidebar main main ."
    "footer footer footer footer";
}

.grid-header {
  grid-area: header;
}

.grid-nav {
  grid-area: nav;
}

.grid-main {
  grid-area: main;
}

.grid-sidebar {
  grid-area: sidebar;
}

.grid-footer {
  grid-area: footer;
}


.grid header {
  color: white;
  background-color: #123456;
}

.grid nav {
  background-color: #999;
}

.grid main {
  display: flex;

  background-color: #aaa;
}

.grid main article {
  flex: 1;
}

.Page aside {
  background-color: #aaa;
}

.grid footer {
  background-color: #aaa;
}